// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$white: #FFFFFF;
$green: #1DC574;
$black-70: #464646;
$grey-153: #999999;
$grey-131: #838383;
$grey-164: #A4A4A4;
$grey-161: #A1A1A1;
$grey: #A59B9B;
$grey-169: #A9A9A9;
$grey-236: #ECECEC;
$grey-238: #EEEFF3;
$light-grey: #DEDEDE;
$black-30: #1F211E;
$black-50: #323232;
$black-34: #222223;
$black: #333333;
