@import 'theme/theme';
html {
    font-size: 16px;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    .navbar-nav {
        padding-left: 0;
        position: relative;
        z-index: 1;
        list-style-type: none;
        display: flex;
        justify-content: end;
    }
    .navbar-brand-img {
        width: 3.125rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    .banner {
        position: relative;
        min-height: 138vw;
        @media (min-width: 576px) {
            min-height: 580px;
        }
        @media (min-width: 992px) {
            min-height: 480px;
        }
        @media (min-width: 1200px) {
            min-height: 580px;
        }
        .banner-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;
            @media (min-width: 576px) {
                object-fit: contain;
            }
        }
        .banner-text {
            margin-top: 9.375rem;
        }
        .banner-cta-icon {
            margin-top: auto;
        }
    }
    .hero {
        padding: 1rem 0 2rem 0;
    }
    .footer {
        margin-top: auto;
        .list-inline {
            display: flex;
            justify-content: center;
            padding-left: 0;
            .list-inline-item {
                list-style-type: none;
                padding: 0 12px;
                border-right: 1px solid $black-70;
                padding-bottom: .25rem;
                .btn-link {
                    font-weight: normal;
                    font-size: .75rem;
                    color: $grey-131;
                }
            }
            .list-inline-item:last-child {
                border-right: none;
            }
            .list-inline-item.border-right:last-child {
                border-right: 1px solid $black-70;
            }
        }
    }
}

.index-white {
    background: linear-gradient(180deg, #E8E8E8 0%, #FFFFFF 100%);
}

.index-black {
    background: linear-gradient(180deg, #1F211E 0%, #0D0E0D 100%);
}
