.btn {
    padding: 0;
}

.btn-success {
    font-weight: 600;
    font-size: 1.25rem;
    color: $black-30;
    background: $green;
    border-radius: 0;
    border: none;
    padding: 1.5rem;
    text-decoration: none;
}

.btn-link {
    font-weight: normal;
    font-size: .75rem;
    color: $grey-164;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.btn-block {
    display: block;
    width: 100%;
}
