.btn {
    padding: 0;
}

.btn-success {
    font-weight: 600;
    font-size: 1.25rem;
    color: $black-30;
    background: $green;
    border-radius: 0;
    border: none;
    padding: 1.5rem;
    text-decoration: none;
}

.btn-link {
    font-weight: normal;
    font-size: .75rem;
    color: $grey-164;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.btn-block {
    display: block;
    width: 100%;
}

.arrow,
.steps {
    background: #1F1F1F;
    .btn-success {
        font-size: 1.375rem;
        color: $white;
        background: linear-gradient(180deg, #1DC574 -30.68%, #08D77A 100%);
        border-radius: .625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &.mind {
        .btn-success {
            background: $aqua-marine;
        }
    }
    &.playwing {
        .btn-success {
            background: $lime;
            box-shadow: 0px 4px 4px #24CB80;
        }
    }
}
